<!DOCTYPE html>
<html>

<head>
	<!-- 页面meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>商品管理</title>
	<!-- Tell the browser to be responsive to screen width -->
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
	<link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
	<link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
	<script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<script src="../plugins/angularjs/angular.min.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<script src="../plugins/angularjs/pagination.js"></script>
	<script src="../js/base_pagination.js"></script>
	<script src="../js/controller/baseController.js"></script>
	<script src="../js/service/goodsService.js"></script>
	<script src="../js/controller/goodsController.js"></script>

	<script src="../js/service/uploadService.js"></script>
	<script src="../js/service/itemCatService.js"></script>
	<script src="../js/service/typeTemplateService.js"></script>
	<script src="../js/service/brandService.js"></script>
	<script src="../js/service/itemService.js"></script>
	<link rel="stylesheet" href="../css/zxf_page.css">
	<script src="../js/zxf_page.js"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pyg" ng-controller="goodsController" ng-init="findItemCatList();reloadList();findBrandList();">
<!-- .box-body -->

<div class="box-header with-border">
	<h3 class="box-title">商品管理</h3>
</div>

<div class="box-body">

	<!-- 数据表格 -->
	<div class="table-box">

		<!--工具栏-->
		<div class="pull-left">
			<div class="form-group form-inline">
				<div class="btn-group">
					<a href="goods_edit.html" type="button" class="btn btn-default" title="新建" ><i class="fa fa-file-o"></i> 新建</a>
					<button type="button" class="btn btn-default" title="删除" ng-click="dele()"><i class="fa fa-trash-o"></i> 删除</button>
					<button type="button" class="btn btn-default" title="提交审核" ng-click="resubmit()"><i class="fa fa-check"></i> 提交审核</button>
					<button type="button" class="btn btn-default" title="屏蔽" onclick='confirm("你确认要屏蔽吗？")'><i class="fa fa-ban"></i> 屏蔽</button>
					<button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
				</div>
			</div>
		</div>
		<div class="box-tools pull-right">
			<div class="has-feedback">
				状态：<select ng-model="searchEntity.auditStatus">
				<option value="">全部</option>
				<option value="0">未审核</option>
				<option value="1">审核通过</option>
				<option value="2">审核未通过</option>
				<option value="3">已关闭</option>
			</select>
				商品名称：<input ng-model="searchEntity.goodsName">
				<button class="btn btn-default" ng-click="reloadList()">查询</button>
			</div>
		</div>
		<!--工具栏/-->
		<style>
			#dataList th,#dataList td{
				text-align: center;
				vertical-align: middle;
			}
		</style>
		<!--数据列表-->
		<table  id="dataList" class="table table-bordered table-striped table-hover dataTable">
			<thead>
			<tr>
				<th class="" style="padding-right:0px">
					<input id="selall" type="checkbox" class="icheckbox_square-blue">
				</th>
				<th class="sorting_asc">商品ID</th>
				<th class="sorting">商品名称</th>
				<th class="sorting">商品价格</th>
				<th class="sorting">商品分类</th>
				<th class="sorting">品牌</th>
				<!--									      <th class="sorting">三级分类</th>-->
				<th class="sorting">状态</th>
				<th class="text-center">操作</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="entity in list">
				<td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
				<td>{{entity.id}}</td>
				<td>{{entity.goodsName}}</td>
				<td>{{entity.price}}</td>
				<td>{{itemCatList[entity.category1Id]}}/{{itemCatList[entity.category2Id]}}/{{itemCatList[entity.category3Id]}}</td>
				<td>{{brandList[entity.brandId]}}</td>
				<!--									      <td>{{itemCatList[entity.category3Id]}}</td>-->
				<td>
		                                  	<span>
		                                  		{{status[entity.auditStatus]}}
		                                  	</span>
				</td>
				<td class="text-center">
					<a href="goods_edit.html#?id={{entity.id}}" class="btn bg-olive btn-xs">修改</a>
					<a href="javascript:void(0)" class="btn bg-olive btn-xs">下架</a>
					<a href="#" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#seckillGoods" ng-click="insertValue(entity.id,entity.goodsName,itemCatList[entity.category1Id],itemCatList[entity.category2Id],itemCatList[entity.category3Id],brandList[entity.brandId])">秒杀</a>

				</td>
			</tr>
			</tbody>
		</table>
		<!--数据列表/-->


	</div>
	<!-- 数据表格 /-->
<!--	{{itemList}}-->

</div>
<!-- /.box-body -->
<!--翻页-->
<div class="zxf_pagediv"></div>
<style>
	.col-md-2{
		padding:0;
	}
	.data_set input,.data_set input:focus{
		border: none ;
		box-shadow: none ;
	}
</style>
<!-- 模态框（Modal） -->
<div class="modal fade" id="seckillGoods" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width:900px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">商品秒杀</h4>
			</div>
			<div class="modal-body">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-2 col-md-offset-1">商品编号</div>
						<div class="col-md-2 col-md-offset-1">商品名称</div>
						<div class="col-md-2 col-md-offset-1">商品分类</div>
						<div class="col-md-2 col-md-offset-1">品牌</div>
					</div>
					<div class="row" style="margin-top:10px;">
						<div class="col-md-1" style="text-align: right;"><span class="glyphicon glyphicon-tags"></span></div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									{{seckillEntity.id}}
								</div>
							</div>
						</div>
						<div class="col-md-1" style="text-align: right;"><span class="glyphicon glyphicon-tags"></span></div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									{{seckillEntity.goodsName}}
								</div>
							</div>
						</div>
						<div class="col-md-1" style="text-align: right;"><span class="glyphicon glyphicon-tags"></span></div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									{{seckillEntity.one}}/{{seckillEntity.two}}/{{seckillEntity.three}}
								</div>
							</div>
						</div>
						<div class="col-md-1" style="text-align: right;"><span class="glyphicon glyphicon-tags"></span></div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									{{seckillEntity.brand}}
								</div>
							</div>
						</div>
					</div>
					<div class="row" class="data_set" style="margin-top:10px;">
						<div class="col-md-1" style="text-align: right;padding:0">开始日期：</div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									<input type="date" placeholder="开始日期" style="border:0;" ng-model="seckillEntity.startDate">
								</div>
							</div>
						</div>
						<div class="col-md-1" style="text-align: right;padding:0">开始时间：</div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									<input type="time" style="border:0;" ng-model="seckillEntity.startTime">
								</div>
							</div>
						</div>
						<div class="col-md-1" style="text-align: right;padding:0">结束日期：</div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									<input type="date" placeholder="结束日期" style="border:0;" ng-model="seckillEntity.endDate">
								</div>
							</div>
						</div>
						<div class="col-md-1" style="text-align: right;padding:0">结束时间：</div>
						<div class="col-md-2">
							<div class="panel panel-default" style="border-top:0;border-left:0;border-right:0;border-bottom-color:darkgray;">
								<div class="panel-body" style="padding:0;border-top:0;border-left:0;border-right:0;">
									<input type="time" placeholder="结束时间" style="border:0;" ng-model="seckillEntity.endTime">
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--属性框-->
				<style>
					.table td, .table th{
						text-align:center;
						vertical-align: middle;
					}
				</style>
				<div class="panel panel-default">
					<div class="panel-body">
						<table class="table table-hover">
							<thead>
							<tr>
								<th>规格属性</th>
								<th>价格</th>
								<th>现有库存</th>
								<th>折扣</th>
								<th>秒杀数量</th>
								<th>是否秒杀</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="item in itemList">
								<td>{{item.title}}</td>
								<td>{{item.price}}</td>
								<td>{{item.num}}</td>
								<td>
									<select>
										<option value="1">-折扣-</option>
										<option value ="0.1">一折</option>
										<option value ="0.2">两折</option>
										<option value="0.3">三折</option>
										<option value="0.4">四折</option>
										<option value ="0.5">五折</option>
										<option value ="0.6">六折</option>
										<option value="0.7">七折</option>
										<option value="0.8">八折</option>
									</select>
								</td>
								<td><input type="number" placeholder="数量" style="border-shadow:none;border-top:0;border-left:0;border-right:0;"><span></span></td>
								<td> <input width="40"  height="40" type="checkbox" ng-model="pojo.isDefault" ng-true-value="1" ng-false-value="0"></td>
							</tr>

							</tbody>
						</table>

					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary">保存</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
</body>

</html>